/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Settings */
@import "reset";
@import "fonts";
@import "variables";
@import "base";
@import "buttons";
@import "scroll";

input {
    &:-webkit-autofill {
        background-color: transparent !important;
        -webkit-box-shadow: 0 0 0 1000px white inset;
        -webkit-text-fill-color: inherit !important;
        outline: none;
    }

}
