header {
    .mobile_menu {
        &.active {
            .burger {
                transform: rotate(-180deg);
                &__bar {
                    &--1 {
                        transform: rotate(45deg);
                    }
                    &--2 {
                        opacity: 0;
                    }
                    &--3 {
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }

    .burger {
        position: relative;
        height: 30px;
        width: 32px;
        display: block;
        z-index: 999;
        border: 0;
        border-radius: 0;
        background-color: transparent;
        pointer-events: all;
        transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        &__bar {
            background-color: #fff;
            position: absolute;
            top: 50%;
            right: 6px;
            left: 6px;
            height: 2px;
            width: auto;
            margin-top: -1px;
            transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1),
            background-color 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
            &--1 {
                -webkit-transform: translateY(-6px);
                transform: translateY(-6px);
            }
            &--2 {
                transform-origin: 100% 50%;
                transform: scaleX(0.8);
            }
            &--3 {
                transform: translateY(6px);
            }
        }
        &:hover {
            .burger {
                &__bar {
                    &--2 {
                        transform: scaleX(1);
                    }
                }
            }
        }
    }
    nav {
        .nav__language {
            .selectize {
                &-control {
                    &.single {
                        .selectize-input {
                            width: 150px;
                            color: var(--color-silver-rgb);
                            font-family: var(--font-open-sans-sb);
                            font-size: 14px;
                            background: transparent;
                            border: none;
                            box-shadow: none;
                            &.dropdown-active {
                                &::before {
                                    content: none;
                                }
                            }
                            input {
                                caret-color: transparent;
                            }
                            &:after {
                                border-top-color: var(--color-silver-rgb) transparent transparent transparent;
                            }
                        }
                        .selectize-dropdown {
                            background: rgba(var(--color-silver-rgb), 0.2);
                            border-radius: 3px;
                            border: none;
                            color: var(--color-silver-rgb);
                            .lang_item {
                                padding: 5px;
                                .label {
                                    font-family: var(--font-open-sans-sb);
                                    font-size: 14px;
                                }
                                &.selected {
                                    display: none;
                                }
                            }

                        }
                    }
                }
            }
        }
    }
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: var(--screen-sm)) {

}

// Small devices (landscape phones, less than 768px)
@media (max-width: var(--screen-md)) {

}

// Medium devices (tablets, less than 992px)
@media (max-width: var(--screen-lg)) {

}

// Large devices (desktops, less than 1200px)
@media (max-width: var(--screen-xl)) {

}

// X-Large devices (large desktops, less than 1400px)
@media (max-width: var(--screen-2xl)) {

}

